.contactBody{
    text-align: center;
    display:flex;
    justify-content: center;
}
.form{
    background-color: #D32F2F;
    color:whitesmoke;
    margin:30px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
input{
    width: 300px;
    margin:20px;

}